.about_top{
    margin-top: 160px;
}
.about_top img{
 width: 100%;
}
.about_top_content{
    display: flex;
    background-color: white;
    margin-top: 20px;
}
.about_top_content_img{
    width: 50%;
}
.about_top_content_img img{
    width:100%;
    height: 100%;
}
.about_top_content_left{
    width: 50%;
    padding: 40px;
}
.about_top_content_left h2{
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 700;
 
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: rgba(11, 63, 100, 1);
}
.about_top_content_left h3{
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    font-weight: 700;
 
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: rgba(11, 63, 100, 1);
}
.about_top_content_left p{
    white-space : pre-wrap;
    margin-top: 40px;
}
.about_bottom_content{
    display: flex;
    margin-top: 50px;
    margin-bottom: 30px;
}
.about_bottom_content_left{
    width: 80%;
}
.about_bottom_content_left{
    display: flex;
    align-items: center;
    background: linear-gradient(270deg, rgba(11, 63, 100, 0.35) 0%, #0B3F64 100%);
    padding: 30px;
}
.about_bottom_content_img img{
    height: 100%;
}
.about_bottom_content_left img{
    padding: 10px;
    margin-left: 30px;
} 
.about_bottom_content_left p{
 
    font-weight: 300;
    font-size: 18px;
    line-height: 24.3px;
    color: white;
    padding: 0px 50px;
}

@media only screen and (max-width:900px) {
    .about_top{
        margin-top: 10px;
    }
    .about_top_content_left h2{
        margin: 0;
        padding: 0;
        font-size: 35px;
        line-height: 30px;
    }
    .about_top_content_left h3{
        margin: 0;
        padding: 0;
        font-size: 25px;
        line-height: 30px;
        margin-top: 20px;
    }
    .about_top_content{
        margin-top: 0px;
    }
    .about_top{
        padding: 0 20px;
    }
    .about_top_content{
        flex-direction: column-reverse;
    }
    .about_top_content_img{
        width: 100%;
    }
    .about_top_content_left{
        width: 100%;
        padding: 20px;
    }
    .about_bottom_content_left img{
        padding: 10px;
        margin-left: 0px;
    } 
    .about_bottom_content{
        flex-direction: column;
    }
    .about_bottom_content_left{
        width: 100%;
    }
    .about_bottom_content_left{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(270deg, rgba(11, 63, 100, 0.35) 0%, #0B3F64 100%);
        padding: 20px;
    }
    .about_bottom_content_left p{
     
        font-weight: 300;
        font-size: 18px;
        line-height: 24.3px;
        color: white;
        padding:  0px;
    }
}