.homeHero{
    position: relative;
    padding-top: 20vh;
    padding-left: 20px;
    padding-right: 20px;
    width: 877px;
}
.homeHero h1{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 50px;
    color: rgba(255, 255, 255, 1);
    line-height: 68.13px;
}
.homeHero p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    color: rgba(255, 255, 255, 1);
}
.mobile{
    display: none;
}
@media only screen and (max-width:900px) {
    .homeHero{
        position: relative;
        padding-top: 20vh;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
}
@media only screen and (max-width:520px) {
    .homeHero h1{
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 40px;
        color: rgba(255, 255, 255, 1);
        line-height: 50.13px;
    }
    .homeHero p{
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 14px;
        color: rgba(255, 255, 255, 1);
    }
}